# Chiavi API dei LLM
GEMINI_API_KEY=inserisci_qui_la_tua_api_key_gemini

# Configurazione OpenFoodFacts (Richiede un User-Agent per policy)
OPENFOODFACTS_APP_NAME=RepEats_University_Project_v1

# Configurazione Database Locale
DATABASE_URL=sqlite:///repeats_local.db