# Framework UI
streamlit

# Architettura Multi-Agente
agno

# Gestione Variabili d'Ambiente
python-dotenv

# ORM e Database (Per la persistenza SQLite richiesta)
SQLAlchemy

groq

requests

pillow

bcrypt

lancedb

sentence-transformers

tantivy

torchvision